.landingTitle {
    text-align: left;
}

.landingWords {
    text-align: left;
}

#about {
    margin: 50px;
}

#founders {
    margin: 50px;
}

p {
    font-size: 16px;
}
/*
.visible.transition {
  margin-top: auto !important;
  margin-left: auto !important;
  display: inline-block !important;
  position: relative;
  top: 20%;
}*/